.frame {
  width: 100%;
  border: var(--border-width) var(--border-style) var(--text-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px var(--border-style) var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    color 0.3s ease-in,
    background-color 0.3s ease-out;
}

.title-bar:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.content {
  transition: height 0.3s ease-in-out;
  height: 0;
  overflow: hidden;
}

.children-container {
  padding: 1rem;
}
