*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100;
  max-width: 1000px;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

span {
  margin-bottom: 1rem;
}

a,
a:visited,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  border: 1px solid aliceblue;
  border-radius: 2px;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;

  transition: all 0.3s ease-in-out;
}

a,
a:visited,
a:active,
a:focus {
  color: aliceblue;
}

a:hover {
  background-color: aliceblue;
  color: black;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

#timer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
