.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form input {
  display: inline-block;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100%;
}

.form input[type="text"],
.form input[type="email"] {
  padding: 0.2rem;
  border: none;
  outline: none;
  height: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form input[type="text"]::placeholder {
  opacity: 0;
}

.form textarea {
  padding: 0.2rem;
  border: none;
  outline: none;
  height: 3rem;
  width: 100%;
  padding: 1rem 0.2rem;
  height: 10rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

.form textarea::placeholder {
  opacity: 0;
}

.form-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 1px var(--border-style) var(--text-color);
  width: 80%;
}

.floating-span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1rem);
  opacity: 0.6;
  transition-duration: 0.3s;
}

.form-label:focus-within .floating-span,
.form-label input:not(:placeholder-shown) + .floating-span,
.form-label textarea:not(:placeholder-shown) + .floating-span {
  transform: translateY(-1rem);
  opacity: 1;
}
