.frame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1.5rem;
}

svg[class~="icon"] {
  fill: var(--text-color);
  width: 32px;
  height: 32px;
}
svg[class~="copy"] {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: var(--text-color);
}
