.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
  height: 100%;
}

.logo {
  width: 150px;
  border-radius: 50%;
}

.whoami {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  margin: 4rem auto;
}
