:root {
  /* 62.5% of 16px = 10px */
  /* font-size: 62.5%; */

  --text-h1: 3.815rem;
  --text-h2: 3.052rem;
  --text-h3: 2.441rem;
  --text-h4: 1.953rem;
  --text-h5: 1.563rem;
  --text-h6: 1.25rem;
  --text-p: 1rem;
  --text-small: 0.8rem;
  --border-width: 2px;
  --border-radius: 4px;
  --border-style: solid;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

h6 {
  font-size: var(--text-h6);
}

p {
  font-size: var(--text-p);
}

small {
  font-size: var(--text-small);
}
