.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.panel {
  padding: 0.5rem;
  width: max-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-color: var(--text-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-radius: var(--border-radius);
  animation: fadein 0.5s;
}

.panel[class~="about-to-unmount"] {
  animation: fadeout 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hr {
  width: 100%;
  height: 1px;
  border-color: inherit;
  border: 0;
  border-top: 1px solid;
}

.text {
  color: inherit;
  background-color: inherit;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: var(--border-width) var(--border-style) var(--text-color);
  border-radius: var(--border-radius);
  outline: none;
  height: 2rem;
  text-align: center;
}
