.navlink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: inherit;
  background-color: inherit;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  margin-right: 0.5rem;
}

.underline {
  height: 0.1rem;
  width: 0;
  animation: shrink 0.3s;
  background-color: var(--text-color);
}

.navlink:hover .underline {
  animation: grow 0.3s;
  animation-fill-mode: forwards;
}

.navlink[class~="active"] .underline {
  animation: grow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}
