.footer {
  height: var(--footer-height);
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  flex-shrink: 0;
}

.a,
.a:visited,
.a:active {
  color: inherit;
}
