.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
