.panel {
  position: fixed;
  padding: 0.2rem;
  width: max-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-color: var(--text-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-radius: var(--border-radius);
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
