.panel {
  padding: 0.2rem;
  width: max-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
