@import "./assets/css/themes.css";
@import "./assets/css/typescale.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  height: 100dvh;
  --header-height: 2.5rem;
  --footer-height: 2.5rem;
  --main-height: calc(100dvh - var(--header-height) - var(--footer-height));
  --border-width: 2px;
  --border-radius: 10px;
  --border-style: solid;
  --max-body-width: 1000px;
}

#root {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  height: 100vh;
  max-width: var(--max-body-width);
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
